body {
    text-indent: 20px;
    font-family: Arial;
  }
  
  .split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
    width: 33%;
  }
  
  .right {
    right: 0;
    width: 66%;
    border-style: solid;
    border-color: cyan;
  }